<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naurt.demo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NaurtKotlinSdk"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher_round">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.naurt.NaurtService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.ACCESS_FINE_LOCATION"
            android:foregroundServiceType="location|dataSync"
            />

        <service
            android:name="com.naurt.demo.TerminatedApplicationLocationService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.ACCESS_FINE_LOCATION"
            android:foregroundServiceType="location|dataSync"
            />

        <receiver
            android:name="com.naurt.StopNaurtBroadcastReciever"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.ACCESS_FINE_LOCATION">
            <intent-filter>
                <action android:name="stopnaurtservice" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.naurt.demo.StopBackgroundService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.ACCESS_FINE_LOCATION">
            <intent-filter>
                <action android:name="stopbackgroundservice" />
            </intent-filter>
        </receiver>
    </application>

</manifest>